

.header__row {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 150px;
}
.tit1 {
  color: #fff;
  font-size: 92px;
  font-weight: 700;
  font-family: "Garamond";
  padding-top: 27px;
  
}
.tit2 {
  text-align: center;

  color: #fff;
  font-family: Garamond;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.tit2 p {
  display: inline;
  color: #982e2e;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.header__actions {
  display: flex;
  column-gap: 20px;
  vertical-align: middle;
}
.action-icon {
  background-color: #fff;
  border-radius: 50%;
  width: 73px;
  height: 73px;
  position: relative;
}

.action-icon img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.body__content{
  padding-top: 50px;
  padding-right: 65px;
}
.body__nav ul {
  display: flex;
  column-gap: 80px;
  justify-content: center;
  list-style-type: none;

}



.body__nav a {
  position: relative;
  color: #fff; /*задаём цвет ссылки*/
  cursor: pointer;
  line-height: 1; /*задаём высоту строки*/
  text-decoration: none; /*убираем подчёркивание*/
  opacity: 0.5;

}
.body__nav a:after {
  display: block;
  position: absolute;
  
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 2px; /*задаём ширину линии*/
  background-color: #982E2E; /*задаём цвет линии*/
  
  content: "";
  transition: width 0.35s ease-out; /*задаём время анимации*/
}

.body__nav a:hover:after,
.body__nav a:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
  
}

hr {
  margin-top: 30px;
}
/* .actions__profile {
}

.actions__basket {
} */
