

.body__rectangles {
}
.body__rectangles ul {
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.body__rectangles img {
  border-radius: 55px;
}
.quote {
  color: #fff;

  font-family: Gotham Pro;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
